Desenvolver os algoritmos Apriori e Eclat utilizando o Exemplo 2 disponível na biblioteca pyECLAT: 

De acordo com o resultado obtido no código a melhor configuração foi o o algoritmo Apriori.

APRIORI

In [1]:
from pyECLAT import Example2
dados = Example2().get()
dados

,0,1,2,3,4,5,6
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN
...,...,...,...,...,...,...,...
2996,green tea,NaN,NaN,NaN,NaN,NaN,NaN
2997,shrimp,cake,NaN,NaN,NaN,NaN,NaN
2998,ham,ground beef,mineral water,NaN,NaN,NaN,NaN
2999,burgers,frozen vegetables,whole wheat pasta,mineral water,chocolate,eggs,blueberries
3000,whole wheat pasta,eggs,cake,french fries,green tea,NaN,NaN

In [2]:
dados.isnull().sum()

0       0
1     686
2    1227
3    1627
4    1953
5    2226
6    2420
dtype: int64

In [4]:
dados.shape

(3001, 7)

In [6]:
# Aplicar o Algoritmo Apriori

from pyECLAT import ECLAT
eclat = ECLAT(data=dados)
dados2 = eclat.df_bin
dados2

,black tea,chocolate bread,mineral water,energy bar,zucchini,carrots,green beans,champagne,burgers,dessert wine,...,butter,mint,burger sauce,tomatoes,soup,fromage blanc,oatmeal,hand protein bar,fresh tuna,whole wheat rice
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2998,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2999,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
from mlxtend.frequent_patterns import apriori, association_rules 

# Gerando a associação
associacao = apriori(dados2, min_support=0.05, use_colnames=True)

c:\Users\DELL\AppData\Local\Programs\Python\Python311\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [10]:
# Colocando em ordem dos mais frequentes
associacao.sort_values("support", ascending=False).head(10)

     support             itemsets
0   0.236921      (mineral water)
20  0.182939          (spaghetti)
14  0.177274               (eggs)
13  0.161613          (chocolate)
17  0.154282       (french fries)
6   0.126958               (milk)
4   0.113296          (green tea)
5   0.093635        (ground beef)
8   0.091969  (frozen vegetables)
1   0.085638            (burgers)

In [11]:
# Criando as regras de associação
regras = association_rules(associacao, metric="lift")

In [12]:
# Colocando em ordem de suporte, confiança ou grau de associação (Lift)
resultado = regras.sort_values("support", ascending=False)

In [13]:
resultado.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(spaghetti),(mineral water),0.182939,0.236921,0.060646,0.331512,1.39925,0.017304,1.141500,0.349217
1,(mineral water),(spaghetti),0.236921,0.182939,0.060646,0.255977,1.39925,0.017304,1.098167,0.373921

ECLAT

In [14]:
from pyECLAT import ECLAT
eclat = ECLAT(data=dados, verbose=True)

100%|██████████| 119/119 [00:00<00:00, 193.92it/s]
100%|██████████| 119/119 [00:00<00:00, 4102.94it/s]
100%|██████████| 119/119 [00:00<00:00, 1452.01it/s]

In [15]:
eclat.df_bin

,black tea,chocolate bread,mineral water,energy bar,zucchini,carrots,green beans,champagne,burgers,dessert wine,...,butter,mint,burger sauce,tomatoes,soup,fromage blanc,oatmeal,hand protein bar,fresh tuna,whole wheat rice
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2998,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2999,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
eclat.uniq_

['black tea',
 'chocolate bread',
 'mineral water',
 'energy bar',
 'zucchini',
 'carrots',
 'green beans',
 'champagne',
 'burgers',
 'dessert wine',
 'mashed potato',
 'barbecue sauce',
 'bacon',
 'clothes accessories',
 'yams',
 'magazines',
 'frozen smoothie',
 'white wine',
 'tomato juice',
 'corn',
 'body spray',
 'pet food',
 'babies food',
 'oil',
 'cake',
 'escalope',
 'green tea',
 'salt',
 'ham',
 'salmon',
 'cooking oil',
 'gluten free bar',
 'eggplant',
 'ground beef',
 'milk',
 'asparagus',
 'cream',
 'extra dark chocolate',
 'chutney',
 'yogurt cake',
 'ketchup',
 'brownies',
 'strong cheese',
 'spinach',
 'toothpaste',
 'pickles',
 'cauliflower',
 'melons',
 'chili',
 'pasta',
 'bramble',
 'turkey',
 'whole weat flour',
 'frozen vegetables',
 'antioxydant juice',
 'cottage cheese',
 'blueberries',
 'strawberries',
 'rice',
 'herb & pepper',
 'water spray',
 'green grapes',
 'mint green tea',
 'cider',
 'flax seed',
 'light mayo',
 'muffins',
 'tomato sauce',
 'tea',
 'hot dogs',
 'grated cheese',
 'fresh bread',
 'meatballs',
 'shampoo',
 'mushroom cream sauce',
 'olive oil',
 'nonfat milk',
 'energy drink',
 'shallot',
 'chicken',
 'pepper',
 'chocolate',
 'bug spray',
 'napkins',
 'eggs',
 'shrimp',
 'candy bars',
 'low fat yogurt',
 'salad',
 'soda',
 'honey',
 'avocado',
 'french fries',
 'vegetables mix',
 'light cream',
 'red wine',
 'french wine',
 'whole wheat pasta',
 'parmesan cheese',
 'cookies',
 'pancakes',
 nan,
 'spaghetti',
 'mayonnaise',
 'gums',
 'sandwich',
 'cereals',
 'protein bar',
 'sparkling water',
 'almonds',
 'butter',
 'mint',
 'burger sauce',
 'tomatoes',
 'soup',
 'fromage blanc',
 'oatmeal',
 'hand protein bar',
 'fresh tuna',
 'whole wheat rice']

In [17]:
indices, suporte = eclat.fit(min_support=0.2, min_combination=2, max_combination=4)

Combination 2 by 2

0it [00:00, ?it/s]

Combination 3 by 3

0it [00:00, ?it/s]

Combination 4 by 4

0it [00:00, ?it/s]

In [18]:
indices

{}

In [19]:
suporte

{}